# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/

# Node
node_modules/
.next/
out/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Data
data/raw/*
data/processed/*
data/exports/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/exports/.gitkeep

# ML
ml/models/*
!ml/models/.gitkeep

# OS
.DS_Store
Thumbs.db
